{% extends "base.html" %}
{% block title %}Acknowledgement{% endblock %}
{% block page_title %}CWR processing and matching{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        $('#button-download').click(function () {
            alert('This would start a download dialog for the report file')
        });
    };
    //]]>
</script>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>Generating acknowledgement file</h2>

    <p>Here an acknowledgement file will be generated.</p>

    <p>As this is a mock, no real data will be used.</p>

    <form action="">
        {% for source in sources %}
        <input type="checkbox" name="source" value={{ source }}>{{ source }}<br>
        {% endfor %}
    </form>


</div>
<a id="button-download" class="btn btn-primary" role="button">Download acknowledgement file</a>
<a id="button-return" class="btn btn-primary" role="button" href="{{ url_for('.validation_report') }}">Go back to
    the validation
    report</a>
<p></p>
{% endblock %}
