{% macro print_transactions(transactions) %}
<div class="transaction-all-info" role="tablist" aria-multiselectable="true">
    {% for transaction in transactions %}
    <hr>
    <div class="transaction-info">
        <div class="panel panel-default">
            {% if transaction|length > 0 %}
            <div class="panel-heading" role="tab" id="transaction_heading_{{loop.index}}}">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{loop.index}}"
                       aria-expanded="true"
                       aria-controls="collapseOne">
                        Transaction number {{ transaction[0].transaction_sequence_n }}
                        of type {{ transaction[0].record_type }},
                        with {{ transaction|length }} records (Click to expand)
                    </a>
                </h2>
            </div>
            {% endif %}
            <div id="collapse_{{loop.index}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    {{ print_transaction(transaction) }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro print_active_icon(name, active) %}
{% if active %}
<input type="checkbox" name={{name}} value={{name}} disabled="disabled" checked="checked">
{% else %}
<input type="checkbox" name={{name}} value={{name}} disabled="disabled">
{% endif %}
{% endmacro %}

{% macro print_transaction(transaction) %}
{% for record in transaction %}
{{ print_transaction_record(record) }}
{% if loop.revindex0 > 0%}
<hr>
{% endif %}
{% endfor %}
{% endmacro %}

{% macro print_transaction_record(record) %}
<div class="record-info">
    <div class="header">
        {{ print_transaction_record_head(record) }}
    </div>
    <div class="contents">
        {% if record.record_type == 'IPA' %}
        {{ print_ipa(record) }}
        {% endif %}
        {% if record.record_type == 'AGR' %}
        {{ print_agr_record(record) }}
        {% endif %}
        {% if record.record_type == 'TER' %}
        {{ print_ter_record(record) }}
        {% endif %}
        {% if record.record_type == 'NWR' %}
        {{ print_nwr_record(record) }}
        {% endif %}
        {% if record.record_type == 'SPU' or record.record_type == 'SPO' %}
        {{ print_publisher_record(record) }}
        {% endif %}
        {% if record.record_type == 'SPT' or record.record_type == 'SWT' %}
        {{ print_publisher_territory_record(record) }}
        {% endif %}
        {% if record.record_type == 'SWR' or record.record_type == 'OWR' %}
        {{ print_writer_record(record) }}
        {% endif %}
        {% if record.record_type == 'PWR' %}
        {{ print_writer_publisher_record(record) }}
        {% endif %}
        {% if record.record_type == 'PER' %}
        {{ print_performing_artist_record(record) }}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro print_transaction_record_head(record) %}
<h3>{{ record.record_type }} [{{ record.transaction_sequence_n }}:{{ record.record_sequence_n }}]</h3>
{% endmacro %}

{% macro print_ipa(record) %}
<div class="info">
    <div class="head">
        <p>{{ record.ip_last_name }}
            {% if record.ip_writer_first_name %}
            , {{ record.ip_writer_first_name }}
            {% endif %}
            {% if record.ip_n %}
            ({{ record.ip_n }})
            {% endif %}
        </p>
    </div>
    <div class="sheet">
        <table>
            <tr>
                <td>Role</td>
                <td>{{ record.agreement_role_code }}
                </td>
            </tr>
            {% if record.ipi_name_n %}
            <tr>
                <td>IPI Name Number</td>
                <td>{{ record.ipi_name_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.ipi_base_n %}
            <tr>
                <td>IPI Base Number</td>
                <td>{{ record.ipi_base_n }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="details">
    <table>
        {% if record.pr_society and record.pr_share > 0 %}
        <tr>
            <td>Performing Rights Society</td>
            <td>{{ record.pr_society }}
            </td>
        </tr>
        <tr>
            <td>Performing Rights Shares</td>
            <td>{{ record.pr_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.mr_society and record.mr_share > 0 %}
        <tr>
            <td>Mechanical Rights Society</td>
            <td>{{ record.mr_society }}
            </td>
        </tr>
        <tr>
            <td>Mechanical Rights Shares</td>
            <td>{{ record.mr_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.sr_society and record.sr_share > 0 %}
        <tr>
            <td>Synchronization Rights Society</td>
            <td>{{ record.sr_society }}
            </td>
        </tr>
        <tr>
            <td>Synchronization Rights Shares</td>
            <td>{{ record.sr_share }}%
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro print_npa_record(record) %}
<div class="info">
    <div class="head">
        <p>{{ record.ip_name }}
            {% if record.ip_writer_name %}
            , {{ record.ip_writer_name }}
            {% endif %}
            {% if record.ip_n %}
            ({{ record.ip_n }})
            {% endif %}
        </p>

        <p>{{ record.language_code }}</p>
    </div>
</div>
{% endmacro %}

{% macro print_agr_record(record) %}
<div class="info">
    <div class="head">
        <p><strong>{{ record.agreement_type }}</strong> agreement for <strong>{{ record.number_of_works }}</strong>
            works</p>
    </div>
    <div class="sheet">
        <table>
            <!-- Post Term Collection Status -->
            {% if record.post_term_collection_status == 'Y' %}
            <tr>
                <td>Post Term Collection (No date given)</td>
                <td>{{print_active_icon('post_term_collection',False)}}</td>
            </tr>
            {% endif %}
            <!-- Prior Royalty Status -->
            {% if record.prior_royalty_status == 'Y' %}
            <tr>
                <td>Prior Royalty (No date given)</td>
                <td>{{print_active_icon('prior_royalty',False)}}</td>
            </tr>
            {% endif %}
            <!-- Sales/Manufacture Clause -->
            {% if record.sales_manufacture_clause %}
            <tr>
                <td>Sales/Manufacture clause</td>
                <td>{{ record.sales_manufacture_clause }}</td>
            </tr>
            {% endif %}
            <!-- Shares Change -->
            <tr>
                <td>Shares change</td>
                <td>{{print_active_icon('shares_change',record.shares_change)}}</td>
            </tr>
            <!-- Advance Given -->
            <tr>
                <td>Advance given</td>
                <td>{{print_active_icon('advance_given',record.advance_given)}}</td>
        </table>
    </div>
    <div class="body">
        <!-- International Standard Code -->
        {% if record.international_standard_code %}
        <p>International Standard Code: {{ record.international_standard_code }}</p>
        {% endif %}
    </div>
</div>
<div class="details">
    {% if record.submitter_agreement_n or record.society_assigned_agreement_n %}
    <p>Assigned numbers:</p>
    <table>
        <tr>
            <th>Assigner</th>
            <th>Number</th>
        </tr>
        {% if record.submitter_agreement_n %}
        <!-- Submitter Assigned Agreement Number -->
        <tr>
            <td>Submitter</td>
            <td>{{ record.submitter_agreement_n }}</td>
        </tr>
        {% endif %}
        <!-- Society Assigned Agreement Number -->
        {% if record.society_assigned_agreement_n %}
        <tr>
            <td>Society</td>
            <td>{{ record.society_assigned_agreement_n }}</td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
    <p>Dates:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>Start</td>
            <td>{{ record.agreement_start_date }}</td>
        </tr>
        {% if record.agreement_end_date %}
        <tr>
            <td>End</td>
            <td>{{ record.agreement_end_date }}</td>
        </tr>
        {% endif %}
        {% if record.date_of_signature %}
        <tr>
            <td>Signature</td>
            <td>{{ record.date_of_signature }}</td>
        </tr>
        {% endif %}
        {% if record.prior_royalty_status == 'D' %}
        <tr>
            <td>Prior Royalty Start</td>
            <td>{{ record.prior_royalty_start_date }}</td>
        </tr>
        {% endif %}
        {% if record.post_term_collection_status == 'D' %}
        <tr>
            <td>Post Term Collection End</td>
            <td>{{ record.post_term_collection_end_date }}</td>
        </tr>
        {% endif %}
        {% if record.retention_end_date %}
        <tr>
            <td>Retention End</td>
            <td>{{ record.retention_end_date }}</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro print_ter_record(record) %}
<div class="info">
    <div class="head">
        <p>TIS code <strong>{{ record.tis_numeric_code }}</strong></p>
    </div>
    <div class="sheet">
        <table>
            <tr>
                <td>Included</td>
                <td>{{print_active_icon('inclusion_exclusion_indicator',record.inclusion_exclusion_indicator == 'I')}}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endmacro %}

{% macro print_ari_record(record) %}
<div class="info">
    <div class="head">
        <p>Work {{ record.submitter_work_n }}</p>
    </div>
    <div class="sheet">
        <table>
            <tr>
                <td>Society</td>
                <td>
                    {{ record.society_n }}
                </td>
            </tr>
            <tr>
                <td>Subject Code</td>
                <td>
                    {{ record.subject_code }}
                </td>
            </tr>
            <tr>
                <td>Type of Right</td>
                <td>
                    {{ record.type_of_right }}
                </td>
            </tr>
        </table>
    </div>
    {% if record.note %}
    <div class="body">
        <p>Note: {{ record.note }}</p>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro print_npn_record(record) %}
<div class="info">
    <div class="head">
        <p>{{ record.publisher_name }}
            {% if record.ip_n %}
            ({{ record.ip_n }})
            {% endif %}
        </p>

        <p>{{ record.language_code }}</p>
    </div>
    <div class="sheet">
        <table>
            <tr>
                <td>Publisher Sequence Number</td>
                <td>
                    {{ record.publisher_sequence_n }}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endmacro %}

{% macro print_nwr_record(record) %}
<div class="info">
    <div class="head">
        <p>Title <strong>{{ record.title }}</strong></p>
    </div>
    <div class="sheet">
        <table>
            {% if record.duration %}
            <tr>
                <td>Duration</td>
                <td>{{ record.duration }}</td>
            </tr>
            {% endif %}
            {% if record.language_code %}
            <tr>
                <td>Language</td>
                <td>{{ record.language_code }}</td>
            </tr>
            {% endif %}
            {% if record.copyright_date %}
            <tr>
                <td>Copyright Date</td>
                <td>{{ record.copyright_date }}</td>
            </tr>
            {% endif %}
            {% if record.composite_type %}
            <tr>
                <td>Composite Type</td>
                <td>{{ record.composite_type }}</td>
            </tr>
            {% endif %}
            {% if record.composite_component_count %}
            <tr>
                <td>Composite Component Count</td>
                <td>{{ record.composite_component_count }}</td>
            </tr>
            {% endif %}
            {% if record.recorded_indicator %}
            <tr>
                <td>Recorded Indicator</td>
                <td>{{ record.recorded_indicator }}</td>
            </tr>
            {% endif %}
            {% if record.priority_flag %}
            <tr>
                <td>Priority Flag</td>
                <td>{{ record.priority_flag }}</td>
            </tr>
            {% endif %}
            {% if record.exceptional_clause %}
            <tr>
                <td>Exceptional Clause</td>
                <td>{{ record.exceptional_clause }}</td>
            </tr>
            {% endif %}
            {% if record.grand_rights_indicator %}
            <tr>
                <td>Grand Rights Indicator</td>
                <td>{{ record.grand_rights_indicator }}</td>
            </tr>
            {% endif %}
            {% if record.grand_rights_indicator %}
            <tr>
                <td>Contact ID</td>
                <td>{{ record.contact_id }}</td>
            </tr>
            {% endif %}
            {% if record.contact_name %}
            <tr>
                <td>Contact Name</td>
                <td>{{ record.contact_name }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="details">
    {% if record.submitter_work_n or record.iswc %}
    <p>Assigned numbers:</p>
    <table>
        <tr>
            <th>Assigner</th>
            <th>Number</th>
        </tr>
        {% if record.submitter_work_n %}
        <tr>
            <td>Submitter</td>
            <td>
                {{ record.submitter_work_n }}
            </td>
        </tr>
        {% endif %}
        {% if record.iswc %}
        <tr>
            <td>ISWC</td>
            <td>
                {{ record.iswc }}
            </td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
    {% if record.catalogue_number or record.opus_number %}
    <p>Catalogue info:</p>
    <table>
        <tr>
            <th>Assigner</th>
            <th>Number</th>
        </tr>
        {% if record.catalogue_number %}
        <tr>
            <td>Catalogue Number</td>
            <td>
                {{ record.catalogue_number }}
            </td>
        </tr>
        {% endif %}
        {% if record.opus_number %}
        <tr>
            <td>Opus Number</td>
            <td>
                {{ record.opus_number }}
            </td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
    {% if record.work_type or record.musical_work_distribution_category or record.version_type
    or record.text_music_relationship or record.music_arrangement or record.lyric_adaptation %}
    <p>Tags:</p>
    <table>
        <tr>
            <th>Tag</th>
            <th>Value</th>
        </tr>
        {% if record.work_type %}
        <tr>
            <td>CWR Work Type</td>
            <td>
                {{ record.work_type }}
            </td>
        </tr>
        {% endif %}
        {% if record.musical_work_distribution_category %}
        <tr>
            <td>Musical Distribution Category</td>
            <td>
                {{ record.musical_work_distribution_category }}
            </td>
        </tr>
        {% endif %}
        {% if record.version_type %}
        <tr>
            <td>Version Type</td>
            <td>
                {{ record.version_type }}
            </td>
        </tr>
        {% endif %}
        {% if record.text_music_relationship %}
        <tr>
            <td>Text-Music Relationship</td>
            <td>
                {{ record.text_music_relationship }}
            </td>
        </tr>
        {% endif %}
        {% if record.music_arrangement %}
        <tr>
            <td>Music Arrangement</td>
            <td>
                {{ record.music_arrangement }}
            </td>
        </tr>
        {% endif %}
        {% if record.lyric_adaptation %}
        <tr>
            <td>Lyric Adaptation</td>
            <td>
                {{ record.lyric_adaptation }}
            </td>
        </tr>
        {% endif %}
        {% if record.excerpt_type %}
        <tr>
            <td>Excerpt Type</td>
            <td>
                {{ record.excerpt_type }}
            </td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
</div>
{% endmacro %}

{% macro print_publisher_record(record) %}
<div class="info">
    <div class="head">
        <p>
            {% if record.publisher.publisher_name %}
            {{ record.publisher.publisher_name }}
            {% endif %}
            {% if record.publisher.ip_n %}
            ({{ record.publisher.ip_n }})
            {% endif %}
        </p>

        <p>
            {% if record.publisher_unknown %}
            Publisher unknown
            {% endif %}
        </p>
    </div>
    <div class="sheet">
        <table>
            {% if record.publisher.ipi_name_n %}
            <tr>
                <td>IPI Name Number</td>
                <td>{{ record.publisher.ipi_name_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.publisher.ipi_base_n %}
            <tr>
                <td>IPI Base Number</td>
                <td>{{ record.publisher.ipi_base_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.publisher.tax_id %}
            <tr>
                <td>Tax ID</td>
                <td>{{ record.publisher.tax_id }}
                </td>
            </tr>
            {% endif %}
            {% if record.publisher_sequence_n %}
            <tr>
                <td>Sequence Number</td>
                <td>{{ record.publisher_sequence_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.publisher_type %}
            <tr>
                <td>Publisher Type</td>
                <td>{{ record.publisher_type }}
                </td>
            </tr>
            {% endif %}
            {% if record.submitter_agreement_n %}
            <tr>
                <td>Agreement Number</td>
                <td>{{ record.submitter_agreement_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.society_assigned_agreement_n %}
            <tr>
                <td>Society Agreement Number</td>
                <td>{{ record.society_assigned_agreement_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.agreement_type %}
            <tr>
                <td>Agreement Type</td>
                <td>{{ record.agreement_type }}
                </td>
            </tr>
            {% endif %}
            {% if record.international_standard_code %}
            <tr>
                <td>ISAC</td>
                <td>{{ record.international_standard_code }}
                </td>
            </tr>
            {% endif %}
            {% if record.special_agreements %}
            <tr>
                <td>Special Agreements Indicator</td>
                <td>{{ record.special_agreements }}
                </td>
            </tr>
            {% endif %}
            {% if record.first_recording_refusal %}
            <tr>
                <td>First Record Refusal Indicator</td>
                <td>{{ record.first_recording_refusal }}
                </td>
            </tr>
            {% endif %}
            {% if record.usa_license %}
            <tr>
                <td>USA License</td>
                <td>{{ record.usa_license }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="details">
    <table>
        {% if record.pr_society and record.pr_ownership_share > 0 %}
        <tr>
            <td>Performing Rights Society</td>
            <td>{{ record.pr_society }}
            </td>
        </tr>
        <tr>
            <td>Performing Rights Shares</td>
            <td>{{ record.pr_ownership_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.mr_society and record.mr_ownership_share > 0 %}
        <tr>
            <td>Mechanical Rights Society</td>
            <td>{{ record.mr_society }}
            </td>
        </tr>
        <tr>
            <td>Mechanical Rights Shares</td>
            <td>{{ record.mr_ownership_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.sr_society and record.sr_ownership_share > 0 %}
        <tr>
            <td>Synchronization Rights Society</td>
            <td>{{ record.sr_society }}
            </td>
        </tr>
        <tr>
            <td>Synchronization Rights Shares</td>
            <td>{{ record.sr_ownership_share }}%
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro print_publisher_territory_record(record) %}
<div class="info">
    <div class="head">
        <p>
            {% if record.ip_n %}
            Interested Party Number:
            {{ record.ip_n }}
            {% endif %}
        </p>
    </div>
    <div class="sheet">
        <table>
            {% if record.inclusion_exclusion_indicator %}
            <tr>
                <td>Inclusion/Exclusion Indicator</td>
                <td>{{ record.inclusion_exclusion_indicator }}
                </td>
            </tr>
            {% endif %}
            {% if record.tis_numeric_code %}
            <tr>
                <td>TIS</td>
                <td>{{ record.tis_numeric_code }}
                </td>
            </tr>
            {% endif %}
            {% if record.sequence_n %}
            <tr>
                <td>Sequence Number</td>
                <td>{{ record.sequence_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.shares_change %}
            <tr>
                <td>Shares Change</td>
                <td>{{ record.shares_change }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="details">
    <table>
        {% if record.pr_society and record.pr_collection_share > 0 %}
        <tr>
            <td>Performing Rights Society</td>
            <td>{{ record.pr_society }}
            </td>
        </tr>
        <tr>
            <td>Performing Rights Shares</td>
            <td>{{ record.pr_collection_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.mr_society and record.mr_collection_share > 0 %}
        <tr>
            <td>Mechanical Rights Society</td>
            <td>{{ record.mr_society }}
            </td>
        </tr>
        <tr>
            <td>Mechanical Rights Shares</td>
            <td>{{ record.mr_collection_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.sr_society and record.sr_collection_share > 0 %}
        <tr>
            <td>Synchronization Rights Society</td>
            <td>{{ record.sr_society }}
            </td>
        </tr>
        <tr>
            <td>Synchronization Rights Shares</td>
            <td>{{ record.sr_collection_share }}%
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro print_writer_record(record) %}
<div class="info">
    <div class="head">
        <p>
            {% if record.writer.writer_first_name %}
            {{ record.writer.writer_first_name }}
            {% endif %}
            {% if record.writer.writer_last_name %}
            , {{ record.writer.writer_last_name }}
            {% endif %}
            {% if record.writer.ip_n %}
            ({{ record.writer.ip_n }})
            {% endif %}
        </p>

        <p>
            {% if record.writer.personal_number %}
            Personal number:
            ({{ record.writer.personal_number }})
            {% endif %}
        </p>

        <p>
            {% if record.writer_unknown %}
            Writer unknown
            {% endif %}
        </p>
    </div>
    <div class="sheet">
        <table>
            {% if record.writer.ipi_name_n %}
            <tr>
                <td>IPI Name Number</td>
                <td>{{ record.writer.ipi_name_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.writer.ipi_base_n %}
            <tr>
                <td>IPI Base Number</td>
                <td>{{ record.writer.ipi_base_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.writer.tax_id %}
            <tr>
                <td>Tax ID</td>
                <td>{{ record.writer.tax_id }}
                </td>
            </tr>
            {% endif %}
            {% if record.writer_designation %}
            <tr>
                <td>Writer Designation Code</td>
                <td>{{ record.writer_designation }}
                </td>
            </tr>
            {% endif %}
            {% if record.work_for_hire %}
            <tr>
                <td>Work For Hire Indicator</td>
                <td>{{ record.work_for_hire }}
                </td>
            </tr>
            {% endif %}
            {% if record.reversionary %}
            <tr>
                <td>Reversionary Indicator</td>
                <td>{{ record.reversionary }}
                </td>
            </tr>
            {% endif %}
            {% if record.first_recording_refusal %}
            <tr>
                <td>First Record Refusal Indicator</td>
                <td>{{ record.first_recording_refusal }}
                </td>
            </tr>
            {% endif %}
            {% if record.usa_license %}
            <tr>
                <td>USA License</td>
                <td>{{ record.usa_license }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="details">
    <table>
        {% if record.pr_society and record.pr_ownership_share > 0 %}
        <tr>
            <td>Performing Rights Society</td>
            <td>{{ record.pr_society }}
            </td>
        </tr>
        <tr>
            <td>Performing Rights Shares</td>
            <td>{{ record.pr_ownership_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.mr_society and record.mr_ownership_share > 0 %}
        <tr>
            <td>Mechanical Rights Society</td>
            <td>{{ record.mr_society }}
            </td>
        </tr>
        <tr>
            <td>Mechanical Rights Shares</td>
            <td>{{ record.mr_ownership_share }}%
            </td>
        </tr>
        {% endif %}
        {% if record.sr_society and record.sr_ownership_share > 0 %}
        <tr>
            <td>Synchronization Rights Society</td>
            <td>{{ record.sr_society }}
            </td>
        </tr>
        <tr>
            <td>Synchronization Rights Shares</td>
            <td>{{ record.sr_ownership_share }}%
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro print_writer_publisher_record(record) %}
<div class="info">
    <div class="head">
        <p>
            {% if record.publisher_ip_n %}
            Publisher IP Number:
            {{ record.publisher_ip_n }}
            {% endif %}
        </p>

        <p>
            {% if record.writer_ip_n %}
            Writer IP Number:
            {{ record.writer_ip_n }}
            {% endif %}
        </p>
    </div>
    <div class="sheet">
        <table>
            {% if record.inclusion_exclusion_indicator %}
            <tr>
                <td>Inclusion/Exclusion Indicator</td>
                <td>{{ record.inclusion_exclusion_indicator }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="details">
    <table>
        {% if record.submitter_agreement_n %}
        <tr>
            <td>Submitter Agreement Number</td>
            <td>{{ record.submitter_agreement_n }}
            </td>
        </tr>
        {% endif %}
        {% if record.society_assigned_agreement_n %}
        <tr>
            <td>Society-Assigned Agreement Number</td>
            <td>{{ record.society_assigned_agreement_n }}
            </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro print_performing_artist_record(record) %}
<div class="info">
    <div class="head">
        <p>
            {% if record.performing_artist_first_name %}
            {{ record.performing_artist_first_name }},
            {% endif %}
            {% if record.performing_artist_last_name %}
            {{ record.performing_artist_last_name }}
            {% endif %}
        </p>
    </div>
    <div class="sheet">
        <table>
            {% if record.performing_artist_ipi_name_n %}
            <tr>
                <td>IPI Name</td>
                <td>{{ record.performing_artist_ipi_name_n }}
                </td>
            </tr>
            {% endif %}
            {% if record.performing_artist_ipi_base_n %}
            <tr>
                <td>IPI Base</td>
                <td>{{ record.performing_artist_ipi_base_n }}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endmacro %}