<!DOCTYPE html>
<html lang="en">
{% import "macro/flash.html" as flash_functions %}
{% import "macro/navbar.html" as navbar_functions %}
{% import "macro/footer.html" as footer_functions %}
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CWR processing and matching</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('common_views.static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('common_views.static', filename='css/style.css') }}">
    <script src="{{ url_for('common_views.static', filename='js/cwr.js') }}"></script>
    <script
            src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('common_views.static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('common_views.static', filename='js/progressbar.js') }}"></script>
    <script src="{{ url_for('common_views.static', filename='js/checklist.js') }}"></script>
    {% endblock %}
</head>
<body>
{{ navbar_functions.render_main_navbar() }}
<div class="jumbotron">
    <div class="container">
        <div class="page-header">
            <h1>{% block page_title %}{% endblock %}</h1>
        </div>
    </div>
</div>
<div class="container">
    {{ flash_functions.show_flashes() }}
    {% block content %}
    {% endblock %}
    <hr>
    {{ footer_functions.render_footer(company.name, company.url) }}
</div>
</body>
</html>