<!DOCTYPE html>
<html lang="en">
{% import "macro/flash.html" as flash_functions %}
{% import "macro/navbar.html" as navbar_functions %}
{% import "macro/footer.html" as footer_functions %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="CWR validation and processing web application.">
    <meta name="keywords" content="CWR, commonworks, validation, file">
    <meta name="author" content="WESO, Bernardo Martínez Garrido">
    <title>{% block site_title %}{{ application.name }}{% endblock %}</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('common_views.static', filename='libs/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('common_views.static', filename='css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
<div id="wrapper">
    {% block sidebar %}
    {{ navbar_functions.side_menu() }}
    {% endblock %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block page_title %}{% endblock
                        %}</h1>

                    <div class="row placeholders">
                        {{ flash_functions.message_flasher() }}
                        {% block content %}
                        {% endblock %}
                        {{ footer_functions.footer() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('common_views.static', filename='libs/jQuery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('common_views.static', filename='libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('common_views.static', filename='js/bootstrap-filestyle.min.js') }}"></script>
<script src="{{ url_for('common_views.static', filename='js/progressbar.js') }}"></script>
<script src="{{ url_for('common_views.static', filename='js/checklist.js') }}"></script>
<script src="{{ url_for('common_views.static', filename='js/loader.js') }}"></script>
<script src="{{ url_for('common_views.static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('common_views.static', filename='js/filtertable.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>