{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block page_title %}CWR processing and matching{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>Welcome!</h2>

    <p>This is just a prototype to show the CWR application currently under development.</p>

    <p>It is a dummy application, so no real data is being used.</p>

    <p>It will lead you through the following steps:</p>
    <ol>
        <li>CWR file uploading</li>
        <li>CWR validation</li>
        <li>Data matching</li>
        <li>Results report and manual edition</li>
    </ol>
    <p>Press the button to begin with the first step.</p>

    <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('cwr_upload.upload') }}">Upload CWR files</a>
    </p>

    <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('uso.upload') }}">Upload USO files</a></p>

    <p></p>
</div>
{% endblock %}