{% extends "base.html" %}
{% block page_title %}CWR file listing{% endblock %}
{% block content %}
<p>Here are shown the CWR files on the server.</p>
<table class="table">
    <tr>
        <th>File</th>
        <th>Date</th>
        <th>Contents</th>
        <th>Matching</th>
        <th>Delete</th>
    </tr>
    {% for file in files %}
    <tr>
        <td>{{file.name}}</td>
        <td>{{file.date}}</td>
        {% if file.parse_status == 'done' %}
        <td>
            <a href="{{ url_for('cwr_contents.summary', file_id=file.file_id) }}">File
                contents</a></td>
        {% else %}
        {% if file.parse_status == 'done' %}
        <td><span class="label label-success">{{file.parse_status}}</span></td>
        {% elif file.parse_status == 'processing' %}
        <td><span class="label label-warning">{{file.parse_status}}</span></td>
        {% elif file.parse_status == 'rejected' %}
        <td><span class="label label-danger">{{file.parse_status}}</span></td>
        {% elif file.parse_status == 'error' %}
        <td><span class="label label-danger">{{file.parse_status}}</span></td>
        {% else %}
        <td>{{file.parse_status}}</td>
        {% endif %}
        {% endif %}
        {% if file.match_status == 'done' %}
        <td><a href="{{ url_for('mera_match.summary', file_id=file.file_id) }}">Match</a>
        </td>
        {% else %}
        {% if file.match_status == 'done' %}
        <td><span class="label label-success">{{file.match_status}}</span></td>
        {% elif file.match_status == 'processing' %}
        <td><span class="label label-warning">{{file.match_status}}</span></td>
        {% elif file.match_status == 'rejected' %}
        <td><span class="label label-danger">{{file.match_status}}</span></td>
        {% elif file.match_status == 'error' %}
        <td><span class="label label-danger">{{file.match_status}}</span></td>
        {% else %}
        <td>{{file.match_status}}</td>
        {% endif %}
        {% endif %}
        <td>
            <a href="{{ url_for('cwr_file.delete', file_id=file.file_id) }}"
               onclick='return confirm("Are you sure you want to delete the file {{file.name}}?")'><span
                    class="label label-danger">X</span></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
