{% extends "cwr_contents_base.html" %}
{% import "macro/pagination.html" as pagination %}
{% import "macro/cwr_record_print.html" as record_printer %}
{% block cwr_contents %}
<div>
    {{ record_functions.show_group_info(group) }}
</div>
<div>
    {{ record_printer.print_transactions(transactions) }}
</div>
<div class="text-center">
    {{ pagination.render_pagination(paginator) }}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        current = document.getElementById("{{ current_tab }}");
        current.setAttribute("class", "active")
    };
    //]]>
</script>
{% endblock %}