{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block page_title %}CWR processing and matching{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('common_views.static', filename='js/progressbar.js') }}"></script>
<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        $('#progress-bar').css({opacity: 0});
        $('#button-next').css({opacity: 0});

        $('#button-progress').click(function () {
            $('#button-progress').attr("disabled", "disabled");
            $('#progress-bar').css({opacity: 1});

            timedIncrease = setInterval(function () {
                conditionedIncrease()
            }, 250)
        });
    };
    //]]>
</script>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>USO file uploading</h2>

    <p>Pick any file to proceed. No actual uploading will be done on the dummy application.</p>
</div>

<form id="form-progress" class="form-horizontal" role="form" method="get" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputFile" class="col-sm-2 control-label">File input</label>

        <div class="col-sm-10">
            <input type="file" id="exampleInputFile" class="btn btn-default" name="file">
        </div>
    </div>
    <a id="button-progress" class="btn btn-primary btn-lg" role="button">Submit file</a>
</form>
<p></p>
<div id="progress-bar">
    <p>Uploading</p>

    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</div>
<div id="button-next">
    <p>The file has been uploaded correctly.</p>
</div>
<p></p>
{% endblock %}
