{% macro show_navbar(file_id) %}
<nav class="navbar navbar-default navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="summary"
           href="{{ url_for('mera_match.summary', file_id=file_id) }}">Summary</a>
    </div>

    <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('mera_match.result', file_id=file_id) }}">Check
                results</a>
            </li>
            <li><a id="button-download-match-report" href="#">Download
                report</a>
            </li>
        </ul>
    </div>
</nav>
{% endmacro %}

{% macro show_results_list(matches) %}
{% for match in matches %}
<div class="panel panel-info">
    <div class="panel-heading">
        <p>{{match.query}} <span class="badge">{{match.type_of_query}}</span>
        </p>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row-fluid">
                {% if match.refinements|length > 0 %}
                <div class="col-md-6">
                    <p>Refinements applied:</p>
                    <ul class="list-group">
                        {% for refinement in match.refinements %}
                        <li class="list-group-item">
                            <span class="badge">{{refinement.type}}</span>
                            {{refinement.content}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="col-md-5">
                    <p>Results summary</p>

                    <p>Results: {{match.results|length}}</p>
                </div>
            </div>
        </div>
        {% if match.results|length > 0 %}
        <div>
            <p>Results for each entity:</p>

            <div class="panel panel-info">
                {% for result in match.results %}
                <div class="panel-heading">
                    <p>{{result.entity}} <span class="badge">{{result.refined_score}}</span>
                    </p>
                </div>
                <div class="panel-body">

                    <div class="container">
                        <div class="row-fluid">
                            <div class="col-md-6">
                                {% if result.matched_forms|length > 0 %}
                                {{show_matched_forms(result.matched_forms)}}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if result.refinements|length > 0 %}
                                <p>Refinements applied:</p>
                                <ul class="list-group">
                                    {% for refinement in result.refinements %}
                                    <li class="list-group-item">
                                        <p>{{refinement.content}} <span
                                                class="badge">{{refinement.type}}</span>
                                        </p>

                                        <p>Score {{refinement.score}}</p>

                                        <p>Relevance
                                            {{refinement.relevance}}</p>
                                        {% if refinement.matched_forms|length >
                                        0 %}
                                        {{show_matched_forms(refinement.matched_forms)}}
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro show_matched_forms(forms) %}
<p>Matched forms</p>
<ul class="list-group">
    {% for key, value in forms.iteritems() %}
    <li class="list-group-item">{{key}}
        <span class="badge">{{value}}</span></li>
    {% endfor %}
</ul>
{% endmacro %}