{% extends "base.html" %}
{% import "macro/acknowledgement.html" as ack_functions %}
{% block page_title %}Acknowledgement{% endblock %}
{% block content %}
{{ ack_functions.show_ack_navbar(file_id) }}
<h2>Generating acknowledgement file</h2>

<p>Here an acknowledgement file will be generated.</p>

<p>As this is a mock, no real data will be used.</p>

<form action="">
    {% for source in sources %}
    <input type="checkbox" name="source" value={{ source }}>{{ source }}<br>
    {% endfor %}
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        $('#button-download-acknowledgement').click(function () {
            alert('This would start a download dialog for the report file')
        });
    };
    //]]>
</script>
{% endblock %}
