{% macro show_groups_navbar(groups) %}
<nav class="col-lg-2 sidebar-nav-fixed">
    <ul data-spy="affix">
        <div class="list-group" id="sidebar">
            <a href="{{ url_for('cwr_validation_report') }}" class="list-group-item"><strong>Summary</strong></a>
            {% for group in groups %}
            <a href="{{ url_for('cwr_validation_report_transactions', index=loop.index0) }}" class="list-group-item">{{
                group.group_header.transaction_type }}</a>
            {% endfor %}
        </div>
    </ul>
</nav>
{% endmacro %}


{% macro show_group_info(group) %}
<div class="infohead panel panel-default">
    <div class="panel-heading">Transaction group summary</div>
    <div class="infotable panel-body">
        <ul>
            <li>
                <div class="panel panel-default">
                    <div class="panel-heading">Group Information</div>
                    <dl>
                        <dt>Group ID</dt>
                        <dd>{{ group.group_header.group_id }}</dd>
                        <dt>Version number</dt>
                        <dd>{{ group.group_header.version_number }}</dd>
                        <dt>Batch Request ID</dt>
                        <dd>{{ group.group_header.batch_request_id }}</dd>
                    </dl>
                </div>
            </li>
            <li>
                <div class="panel panel-default">
                    <div class="panel-heading">Group Counts</div>
                    <dl>
                        <dt>Transaction Count</dt>
                        <dd>{{ group.group_trailer.transaction_count }}</dd>
                        <dt>Record Count</dt>
                        <dd>{{ group.group_trailer.record_count }}</dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endmacro %}