{% macro side_menu() %}
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="{{ url_for('common_views.index') }}">Home</a>
        </li>
        <li><a href="#" data-toggle="collapse"
               data-target="#cwrFileMenu">CWR<i
                class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="cwrFileMenu">
                <li><a href="{{ url_for('cwr_file.list') }}">Files list</a></li>
                <li><a href="{{ url_for('cwr_file.search') }}">Search</a></li>
                <li><a href="{{ url_for('cwr_upload.upload') }}">Upload</a></li>
            </ul>
        </li>
        <li><a href="#" data-toggle="collapse"
               data-target="#usoFileMenu">USO<i
                class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="usoFileMenu">
                <li><a href="{{ url_for('uso_upload.upload') }}">Upload</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('common_views.about') }}">About</a></li>
        <li><a href="#" data-toggle="collapse"
               data-target="#linksMenu">Links<i
                class="glyphicon glyphicon-chevron-right"></i></a>
            <ul class="nav nav-stacked collapse" id="linksMenu">
                <li><a href="http://www.cisac.org/"><i
                        class="glyphicon glyphicon-link"></i>CISAC</a></li>
                <li><a href="http://www.weso.es/"><i
                        class="glyphicon glyphicon-link"></i>WESO</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endmacro %}
