.tab-content {
    margin-top: 1em;
}

.bg-danger {
    background-color: #f2dede !important;
}

.bg-success {
    background-color: #dff0d8 !important;
}

#quick-link {
    float: right;
    margin-bottom: 1em;
}

.transaction-summary dt {
    width: auto;
}

.jumbotrom {
    margin-top: 1em;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

table {
    padding-bottom: 15px
}

dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
}

dt:after {
    content: ":";
}

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

hr.vertical {
    width: 0;
    height: 100%;
}
