.transactions-menu {
    border-style: solid;
    border-width: 1px;
    background-color: #f0f0f0;
}

.transactions-menu > ul {
    padding-left: 0;
}

.transactions-menu > ul > li {
    list-style-type: none;
}

.record-info {
    border-style: solid;
    border-width: 1px;
}

.record-info .header {
    border-style: solid;
    border-width: 1px;
    padding-left: 1em;
    padding-right: 1em;
}

.record-info .contents {
    overflow: hidden;
}

.record-info .contents .details {
    padding: 1em 1em 1em 1em;
    float: right;
}

.record-info .contents .info {
    padding: 1em 1em 1em 1em;
    float: left;
}

.record-info .contents .info .sheet table {
    border-collapse: collapse;
    border: none;
    outline: none;
}

.record-info .contents .info .sheet table td {
    border: none;
    outline: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 1em;
}