.infohead {
    border-style: solid;
    border-width: 1px;
    background-color: #f0f0f0;
}

.infotable {
    display: table; /* Allow the centering to work */
    margin: 0 auto;
}

.infotable > ul {
    display: inline-block;
    *display: inline;
    margin: auto;
    padding-left: 0;
}

.infotable > ul > li {
    display: inline-block;
    *display: inline;
    list-style-type: none;
    padding-right: 20px;
    width: 20em;
}