{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block page_title %}CWR processing and matching{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>
    <script type="text/javascript">
        //<![CDATA[
        window.onload = function () {
            $('#progress-bar').css({opacity: 0});
            $('#button-next').css({opacity: 0});

            $('#button-progress').click(function () {
                $('#button-progress').attr("disabled", "disabled");
                $('#progress-bar').css({opacity: 1});

                timedIncrease = setInterval(function () {
                    conditionedIncrease()
                }, 250)
            });
        };
        //]]>
    </script>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>CWR file uploading</h2>

        <p>Upload a CWR to start the validation process.</p>

        <p>Pay attention this should be a valid CWR file. While the file name does not need to follow the standard
            naming pattern, the file's content should stick to it.</p>

        <p>For finding more about the CWR standard visit <a href="http://www.cisac.org">CISAC's website</a>.</p>

        <p>Note: Pick any file to proceed. No actual uploading will be done on the dummy application.</p>
    </div>

    <form id="form-progress" class="form-horizontal" role="form" method="get" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputFile" class="col-sm-2 control-label">CWR file</label>

            <div class="col-sm-10">
                <input type="file" id="exampleInputFile" class="btn btn-default" name="file">
            </div>
        </div>
        <a id="button-progress" class="btn btn-primary btn-lg" role="button">Submit file</a>
    </form>
    <p></p>
    <div id="progress-bar">
        <p>Uploading</p>

        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <a id="button-next" class="btn btn-primary btn-lg" role="button" href="{{ url_for('cwr_validation_report') }}">Go to
        validation
        report</a>


    <form class="form-horizontal" role="form" action="{{ url_for('upload_cwr_handler') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputFile" class="col-sm-2 control-label">File input</label>

            <div class="col-sm-10">
                <input type="file" id="exampleInputFile" class="btn btn-default" name="file">
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
    <p></p>
{% endblock %}
