@import url('common.css');
@import url('file-report.css');
@import url('../../../cwr/validation/static/css/cwr-report.css');
@import url('loader.css');
@import url('flash.css');
@import url('sidebar.css');
@import url('checklist.css');