{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block page_title %}CWR file upload{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('common_views.static', filename='js/loader.js') }}"></script>
<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        // Bind normal buttons
        Ladda.bind('div:not(.progress-demo) button');
        //Ladda.bind('div:not(.progress-demo) button', {timeout: 1500});
        // Bind progress buttons and simulate loading progress
        //Ladda.bind('.progress-demo button', {
        //callback: function (instance) {
        //var progress = 0;
        //var interval = setInterval(function () {
        //    progress = Math.min(progress + Math.random() * 0.1, 1);
        //    instance.setProgress(progress);
        //    if (progress === 1) {
        //        instance.stop();
        //        clearInterval(interval);
        //    }
        //}, 200);
        //}
        //});
        // You can control loading explicitly using the JavaScript API
        // as outlined below:
        // var l = Ladda.create( document.querySelector( 'button' ) );
        // l.start();
        // l.stop();
        // l.toggle();
        // l.isLoading();
        // l.setProgress( 0-1 );
    };
    //]]>
</script>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>CWR file uploading</h2>

    <p>Upload a CWR to start the validation process.</p>

    <p>Pay attention this should be a valid CWR file. While the file name does not need to follow the standard
        naming pattern, the file's content should stick to it.</p>

    <p>For finding more about the CWR standard visit <a href="http://www.cisac.org">CISAC's website</a>.</p>

    <p>Note: Currently the parser is still under development. Not all CWR files will work.</p>
</div>

<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
      action="{{ url_for('.upload_handler') }}">
    <div class="form-group">
        <label for="cwr_file" class="col-sm-2 control-label">File input</label>

        <div class="col-sm-10">
            <input type="file" id="cwr_file" class="btn btn-default" name="file">
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right ladda-button" data-style="expand-right"><span
            class="ladda-label">Submit</span></button>
</form>
<p></p>
{% endblock %}
