{% extends "base.html" %}
{% block title %}Matching{% endblock %}
{% block page_title %}CWR processing and matching{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        $('#button-download').click(function () {
            alert('This would start a download dialog for the report file')
        });
    };
    //]]>
</script>
{% endblock %}
{% block content %}
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li id="summary_item"><a href="{{ url_for('cwr_validation_report') }}">Summary</a></li>
    <li id="agreements_item"><a href="{{ url_for('cwr_validation_report_agreements') }}">Agreements</a></li>
    <li id="new_reg_item"><a href="{{ url_for('cwr_validation_report_new_registrations') }}">New registrations</a>
    </li>
    <li id="revisions_item"><a href="{{ url_for('cwr_validation_report_revisions') }}">Revisions</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id={{ current_tab }}>
        {% block current_pane %}
        {% endblock %}
    </div>
</div>
<a id="button-download" class="btn btn-primary" role="button">Download report</a>
<a class="btn btn-primary" role="button" href="{{ url_for('cwr_acknowledgement_generation') }}">Generate
    acknowledgement file</a>
<a class="btn btn-primary" role="button" href="{{ url_for('cwr_match') }}">Go to matches reconciliation</a>
<p></p>
{% endblock %}