{% extends "cwr/validation/base.html" %}
{% import "macro/cwr.html" as record_functions %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        current = document.getElementById("{{ current_tab }}");
        current.setAttribute("class", "active")
    };
    //]]>
</script>
{% endblock %}
{% block current_pane %}
<div class="infohead">
    <div class="infotable">
        <ul>
            <li>
                <p>Sender information</p>
                <dl>
                    <dt>Sender ID</dt>
                    <dd> {{ cwr.transmission.header.sender_id }}</dd>
                    <dt>Sender Name</dt>
                    <dd>{{ cwr.transmission.header.sender_name }}</dd>
                    <dt>Sender Type</dt>
                    <dd>{{ cwr.transmission.header.sender_type }}</dd>
                </dl>
            </li>
            <li>
                <p>File information</p>
                <dl>
                    <dt>Created on</dt>
                    <dd> {{ cwr.transmission.header.creation_date_time }}</dd>
                    <dt>Sent on</dt>
                    <dd> {{ cwr.transmission.header.transmission_date }}</dd>
                    <dt>EDI Standard</dt>
                    <dd> {{ cwr.transmission.header.edi_standard }}</dd>
                    <dt>Character Set</dt>
                    <dd> {{ cwr.transmission.header.character_set }}</dd>
                </dl>
            </li>
            <li>
                <p>Contents counts</p>
                <dl>
                    <dt>Group count</dt>
                    <dd> {{ cwr.transmission.trailer.group_count }}</dd>
                    <dt>Transaction Count</dt>
                    <dd> {{ cwr.transmission.trailer.transaction_count }}</dd>
                    <dt>Record Count</dt>
                    <dd> {{ cwr.transmission.trailer.record_count }}</dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{% endblock %}